body {
  background-color: #f28ab2;
  margin: 0;
  font-family: sans-serif;
}

::placeholder {
  font-size: small;
}

:focus {
  outline: none;
}

.fetch-todo-loader {
  width: 400px;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 100px;
}

.app-container {
  text-align: center;
}

.app-header {
  color: white;
  font-weight: bolder;
  font-size: xx-large;
  margin-bottom: 40px;
  margin-top: 40px;
}

.title-input-container {
  width: 250px;
  margin: 0 auto;
  background: white;
  border-radius: 5px;
}

.title-input {
  border: none;
  padding: 5px 5px;
  font-size: medium;
  width: 220px;
  border-radius: 5px;
}

.cross-icon {
  color: red;
  margin-right: 5px;
  cursor: pointer;
  height: 13px;
  width: 13px;
}

.add-title-btn {
  border-radius: 5px;
  color: white;
  border: none;
  padding: 4px 10px 4px 10px;
  cursor: pointer;
  font-size: medium;
  font-weight: 500;
  background-color: #20a729;
  margin-top: 20px;
}

.add-btn-loader {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 2px dotted white;
  border-left-color: transparent;
  border-radius: 50%;
  animation: circle 2s ease-in 0s infinite;
  margin: 20px auto 0 auto;
}

.search-input {
  border: none;
  padding: 5px 5px;
  font-size: medium;
  width: 240px;
  border-radius: 5px;
  margin-top: 30px;
}

.all-card-container {
  width: 900px;
  margin: 30px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.single-card-container {
  height: fit-content;
  border-radius: 5px;
  background: white;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
}

.card-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.add-to-card-btn,
.delete-card-btn {
  border: none;
  background: none;
  font-weight: 500;
  cursor: pointer;
  color: #20a729;
}

.add-to-card-btn {
  margin-left: 5px;
  justify-self: flex-start;
}

.delete-card-btn {
  color: red;
  margin-right: 5px;
  justify-self: flex-end;
}

.card-label {
  font-weight: bold;
}

ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.checkbox {
  cursor: pointer;
}

.edit-icon,
.save-icon {
  color: #28a745;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.cancel-icon {
  color: red;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.todo-completed {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 1px;
  font-size: small;
  justify-self: start;
}

.item-name {
  justify-self: start;
  font-size: small;
}

.trash-icon {
  color: red;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.edit-text-input {
  border: none;
  border-bottom: 1px solid green;
  padding: 0;
  font-size: small;
  width: 190px;
  margin-left: -2px;
}

.add-new-item {
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
}

.todo-title-text {
  font-size: small;
  border-bottom: 1px solid lightblue;
  font-style: italic;
}

.small-loader {
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: 2px dotted green;
  border-left-color: transparent;
  border-radius: 50%;
  animation: circle 2s ease-in 0s infinite;
}

@keyframes circle {
  0% {
    transform: rotate(-360deg);
  }
}
/* 
.no-todos {
  width: 400px;
  color: white;
  font-size: large;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}
.no-todos-container {
  display: grid;
  justify-items: center;
  row-gap: 20px;
}
 */
