body {
  background-color: #f28ab2;
  margin: 0;
  font-family: sans-serif;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  margin-bottom: 50px;
}

.app-header {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-weight: bolder;
  margin-bottom: 40px;
}

.grid-title-input,
.search-input {
  border: none;
  padding: 5px 5px;
  font-size: medium;
  border-radius: 5px;
  width: 238px;
}

.todo-text-input {
  width: 215px;
  border: none;
  padding: 5px 5px;
  font-size: medium;
  border-radius: 5px;
}

::placeholder {
  font-size: small;
}

:focus {
  outline: none;
}

.todo-text-input-container {
  background: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  align-items: center;
  justify-items: center;
}

.fetch-todo-loader {
  width: 400px;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 100px;
}

.add-loading {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px dotted white;
  border-left-color: transparent;
  border-radius: 50%;
  animation: circle 2s ease-in 0s infinite;
}

.check-loading {
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: 2px dotted green;
  border-left-color: transparent;
  border-radius: 50%;
  animation: circle 2s ease-in 0s infinite;
}

@keyframes circle {
  0% {
    transform: rotate(-360deg);
  }
}

.add-btn {
  border-radius: 5px;
  color: white;
  border: none;
  padding: 4px 10px 4px 10px;
  cursor: pointer;
  font-size: medium;
  font-weight: 500;
  background-color: #20a729;
}

.checkbox {
  cursor: pointer;
  justify-self: center;
}

.card-container {
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.list-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
}

.add-to-list,
.delete-list {
  border: none;
  background: none;
  font-weight: 500;
  cursor: pointer;
  color: #20a729;
}

.delete-list {
  color: red;
}

.ul-container {
  height: fit-content;
  padding-top: 15px;
  border-radius: 5px;
  background: white;
  display: grid;
  grid-template-rows: 2fr auto;
  row-gap: 5px;
  justify-items: start;
}

ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.edit-text-input {
  border: none;
  border-bottom: 1px solid green;
  padding: 0;
  font-size: 16px;
  width: 190px;
  margin-bottom: -2px;
  margin-left: -4px;
}

.todo-completed {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  font-size: small;
  justify-self: start;
}

.item-name {
  justify-self: start;
  font-size: small;
}

/* .cross-icon {
  color: red;
  margin-right: 5px;
  cursor: pointer;
  height: 13px;
  width: 13px;
} */

.cancel-icon {
  color: red;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.trash-icon {
  color: red;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.edit-icon,
.save-icon {
  color: #28a745;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
