@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap');

body {
  background-color: #f28ab2;
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  margin-bottom: 50px;
}

header {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-weight: bolder;
}

.app-header {
  margin-bottom: 40px;
}

input[type='text'] {
  border: none;
  padding: 5px 5px;
  font-size: medium;
  border-radius: 5px;
}

::placeholder {
  font-size: small;
}

:focus {
  outline: none;
}

.add-todo-input {
  background: white;
  border-radius: 5px;
}

.add-loading {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px dotted white;
  border-left-color: transparent;
  border-radius: 50%;
  animation: circle 2s ease-in 0s infinite;
}

.check-loading {
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: 2px dotted green;
  border-left-color: transparent;
  border-radius: 50%;
  animation: circle 2s ease-in 0s infinite;
}

@keyframes circle {
  0% {
    transform: rotate(-360deg);
  }
}

.add {
  border-radius: 5px;
  color: white;
  border: none;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  font-size: medium;
  font-weight: 500;
  background-color: #20a729;
}

input[type='checkbox'] {
  cursor: pointer;
  justify-self: center;
}

ul {
  width: 600px;
  margin: 0 auto;
  padding: 0;
  border-radius: 5px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  background: white;
}

.todo-container {
  padding: 10px;
}

.not-editing-list {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.editing-list {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.editing-list input[type='text'] {
  border-bottom: 1px solid green;
  border-radius: 0;
  padding: 0;
  margin-top: 3px;
  font-size: medium;
  justify-self: start;
}

.cross-icon {
  color: red;
  margin-right: 5px;
  cursor: pointer;
  height: 13px;
  width: 13px;
}

.cancel-icon {
  color: red;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.trash-icon {
  color: red;
  cursor: pointer;
  height: 14px;
  width: 14px;
}

.edit-icon,
.save-icon {
  color: #28a745;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.todo-completed {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  font-size: medium;
  justify-self: start;
}

.todo-name {
  font-size: medium;
  justify-self: start;
}

.fetch-todo-loader {
  width: 400px;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 100px;
}
